apiVersion: v2
name: kubernetes-agent
description: A Helm chart for the Octopus Kubernetes Agent
home: "https://octopus.com"
sources:
  - "https://github.com/OctopusDeploy/helm-charts"
maintainers:
  - name: "Octopus Deploy"
    email: "support@octopus.com"
    url: "https://octopus.com"
dependencies:
  - name: kubernetes-monitor-chart
    version: "0.11.0"
    repository: "oci://docker.io/octopusdeploy"
    condition: kubernetesMonitor.enabled
    alias: kubernetesMonitor
type: application
version: "2.14.2"
# This version number should be the same as the agent.image.tag value as this is the primary application version
appVersion: "8.3.2786"
