# Default values for kubernetes-agent.

# -- Override the name of the app
nameOverride: ""

# -- custom registry pullSecret<br>
# See https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod
imagePullSecrets: []
#   - name: "registry-secret-name"


agent:
  # -- Setting to Y accepts the [Customer Agreement](https://octopus.com/company/legal)
  # @section -- Agent values
  acceptEula: "N"
  # -- The name of the deployment target
  # @section -- Agent values
  targetName: ""
  # -- The URL of the target Octopus Server to register this agent with
  # @section -- Agent values
  serverUrl: ""
  # -- The polling communication URL of the target Octopus Server
  # @section -- Agent values
  serverCommsAddress: ""
  # -- A JWT bearer token use to authenticate with the target Octopus Server
  # @section -- Agent values
  bearerToken: ""
  # -- An Octopus Server API key use to authenticate with the target Octopus Server
  # @section -- Agent values
  serverApiKey: ""  
  # -- The Space to register the agent in
  # @section -- Agent values
  space: "Default"
  # -- The target environments to register the agent with
  # @section -- Agent values
  targetEnvironments: []  
  # -- The target roles to register the agent with
  # @section -- Agent values
  targetRoles: []  
  # -- The log level of the agent. Logs are written to the pod logs as well as to file
  # @section -- Agent values
  logLevel: "Info"  
  # -- The default Kubernetes namespace for deployments
  # @section -- Agent values
  defaultNamespace: ""
  # -- The number of polling TCP connections to open with the target Octopus Server
  # @section -- Agent values
  pollingConnectionCount: 5

  # -- The repository, pullPolicy & tag to use for the agent image
  # @section -- Agent values
  image:
    repository: octopusdeploy/kubernetes-tentacle
    pullPolicy: IfNotPresent
    tag: "8.1.1507"
   
  serviceAccount:    
    # -- The name of the service account for the agent pod
    # @section -- Agent values
    # @default -- Generates a name based on `targetName`
    name: ""
    # -- Annotations to add to the autogenerated service account
    # @section -- Agent values
    annotations: {}  
  
  # -- Additional metadata to add to the agent pod & container
  # @section -- Agent values
  metadata:
    annotations: {}
    labels: {}

  # -- The resource limits and requests assigned to the agent container
  # @section -- Agent values
  resources: 
    requests:
      memory: "150Mi"
      cpu: "100m"

  debug:
    # -- Disables automatic pod cleanup
    # @section -- Agent values
    disableAutoPodCleanup: false

# @section -- Script pod values
scriptPods:
  # -- If true, the script pods will be created with a disruption budget to prevent them from being evicted
  # @section -- Script pod values
  disruptionBudgetEnabled: true

  serviceAccount:
    # -- The name of the service account used for executing script pods
    # @section -- Script pod values
    name: ""
    # -- Annotations to add to the service account
    # @section -- Script pod values
    annotations: {}

    # -- Specifies that the pod service account should be constrained to target namespaces
    # @section -- Script pod values
    # @default -- Uses a ClusterRoleBinding to allow the service account to run in any namespace
    targetNamespaces: []

    # -- if defined, overrides the default ClusterRole rules
    # @section -- Script pod values
    # @default -- `[{"apiGroups":["*"],"resources":["*"],"verbs":["*"]},{"nonResourceURLs":["*"],"verbs":["*"]}]`
    clusterRole:
      rules: []

# @section -- Persistence
persistence:
  
  # -- if provided, will disable the default persistence configuration and create a PVC with the provided storage class
  # @section -- Persistence
  storageClassName: ""

  # -- The size of the volume to create
  # @section -- Persistence
  size: 10Gi

  nfs:
    # -- The Repository, pullPolicy & tag to use for the NFS server
    # @section -- Persistence
    image:
      repository: octopusdeploy/nfs-server
      pullPolicy: IfNotPresent
      tag: "1.0.1"
    
    # -- Additional metadata to add to the NFS pod & container
    # @section -- Persistence
    metadata:
      annotations: {}
      labels: {}

    watchdog:
      # -- If enabled, the NFS watchdog will monitor NFS availability and restart Tentacle and Script Pods if the NFS server is unresponsive
      # @section -- Persistence
      enabled: true
      # -- The frequency in seconds to check the NFS server
      # @section -- Persistence
      # @default 5
      loop_seconds: ""
      # -- The initial backoff time in seconds to retry failed NFS checks
      # @section -- Persistence
      # @default 0.5
      initial_backoff_seconds: ""
      # -- The total time to retry failed NFS checks before giving up and deleting the pod
      # @section -- Persistence
      # @default 10
      timeout_seconds: ""
      # -- The Repository, pullPolicy & tag to use for the NFS watchdog
      # @section -- Persistence
      image:
        repository: octopusdeploy/kubernetes-agent-nfs-watchdog
        pullPolicy: IfNotPresent
        tag: "0.0.2"

# Used for integration testing to avoid registring with a real Octopus Server
# @ignored
testing:
  tentacle:
    configMap:
      data: {}