{{- if .Values.persistence.nfs.enabled }}
apiVersion: v1
kind: PersistentVolume
metadata:
  annotations:
    pv.kubernetes.io/provisioned-by: nfs.csi.k8s.io
  name: {{ include "nfs.pvName" . }} 
spec:
  capacity:
    storage: {{ .Values.persistence.nfs.size }}
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ include "nfs.storageClassName" . }}
  mountOptions:
    - nfsvers=4.1
    - lookupcache=none
    - soft
    - timeo=5
    - retrans=5
  csi:
    driver: nfs.csi.k8s.io
    volumeHandle: {{ printf "%s/octopus##" (include "nfs.serverAddress" .)}}
    volumeAttributes:
      server: {{ include "nfs.serverAddress" . }}
      share: /

{{- end }}
