{{- if and .Values.storage.nfs.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "nfs.name" .}}
  namespace: {{ .Release.Namespace | quote }}
spec:
  selector:
    app.kubernetes.io/name: {{ include "nfs.name" .}}
  ports:
    - name: nfs
      port: 2049
      protocol: TCP
{{- end }}