{{- if not .Values.persistence.storageClassName }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "nfs.name" .}}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app.kubernetes.io/name: {{ include "nfs.name" .}}
spec:
  selector:
    matchLabels:
        app.kubernetes.io/name: {{ include "nfs.name" .}}
  template:
    metadata:
      {{- with .Values.persistence.nfs.metadata.annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/name: {{ include "nfs.name" .}}
        {{- with .Values.persistence.nfs.metadata.labels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ include "nfs.name" .}}
          image: "{{ .Values.persistence.nfs.image.repository }}:{{ .Values.persistence.nfs.image.tag }}"
          imagePullPolicy: {{ .Values.persistence.nfs.image.pullPolicy }}
          securityContext:
            privileged: true
          resources:
            requests:
              memory: "50Mi"
              cpu: "50m"
          env:
          - name: "SHARED_DIRECTORY"
            value: "/octopus"
          - name: "SYNC"
            value: "true"
          ports:
          - containerPort: 2049
          volumeMounts:
          - mountPath: /octopus
            name: octopus-volume
      terminationGracePeriodSeconds: 31
      volumes:
        - name: octopus-volume
          emptyDir:
            sizeLimit: {{ .Values.persistence.size}}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: kubernetes.io/os
                  operator: In
                  values:
                    - linux
                - key: kubernetes.io/arch
                  operator: In
                  values:
                    - arm64
                    - amd64
{{- end -}}