{{- if not (include "kubernetes-agent.useCustomPvc" .) }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "nfs.name" .}}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app.kubernetes.io/name: {{ include "nfs.name" .}}
spec:
  selector:
    matchLabels:
        app.kubernetes.io/name: {{ include "nfs.name" .}}
  template:
    metadata:
      {{- with .Values.persistence.nfs.metadata.annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/name: {{ include "nfs.name" .}}
        {{- with .Values.persistence.nfs.metadata.labels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.persistence.nfs.spec }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ include "nfs.name" .}}
          {{- with .Values.persistence.nfs.containers.nfs.spec }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
          image: "{{ .Values.persistence.nfs.image.repository }}:{{ .Values.persistence.nfs.image.tag }}"
          imagePullPolicy: {{ .Values.persistence.nfs.image.pullPolicy }}
          securityContext:
            privileged: true
          resources:
            requests:
              memory: "50Mi"
              cpu: "50m"
          env:
          - name: "SHARED_DIRECTORY"
            value: "/octopus"
          - name: "SYNC"
            value: "true"
          {{- with .Values.persistence.nfs.containers.nfs.env }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
          ports:
          - containerPort: 2049
          volumeMounts:
          - mountPath: /octopus
            name: octopus-volume
      terminationGracePeriodSeconds: 30
      {{- if not .Values.persistence.nfs.backingVolume.storageClassName }}
      volumes:
        - name: octopus-volume
          emptyDir:
            sizeLimit: {{ .Values.persistence.size }}
      {{- end }}
      {{- with .Values.persistence.nfs.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.persistence.nfs.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  {{- if .Values.persistence.nfs.backingVolume.storageClassName }}
  volumeClaimTemplates:
    - metadata:
        name: octopus-volume
      spec:
        accessModes: {{ .Values.persistence.nfs.backingVolume.accessModes | toYaml | nindent 10 }}
        storageClassName: {{ .Values.persistence.nfs.backingVolume.storageClassName }}
        resources:
          requests:
            storage: {{ .Values.persistence.size }}
  {{- end }}
{{- end -}}