{{- $podServiceAccountName := include "kubernetes-agent.podServiceAccountName" . -}}
{{- $podServiceAccountFullName := include "kubernetes-agent.podServiceAccountFullName" . -}}
{{- $podClusterRoleName := include "kubernetes-agent.podClusterRoleName" . -}}

{{- range $targetNamespace := $.Values.podServiceAccount.targetNamespaces }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ printf "%s-binding" $podServiceAccountFullName }}
  namespace: {{ $targetNamespace | quote }}
subjects:
- kind: ServiceAccount
  name: {{ $podServiceAccountName }}
  namespace: {{ $.Release.Namespace | quote }}
roleRef:
  kind: ClusterRole
  name: {{ $podClusterRoleName }}
  apiGroup: rbac.authorization.k8s.io
{{- end -}}
{{- if and .Values.persistence.nfs.watchdog.enabled .Values.persistence.nfs.enabled}}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ printf "%s-binding" $podServiceAccountFullName }}
  namespace: {{ .Release.Namespace | quote }}
subjects:
  - kind: ServiceAccount
    name: {{ $podServiceAccountName }}
    namespace: {{ $.Release.Namespace | quote }}
roleRef:
  kind: ClusterRole
  name: {{ $podClusterRoleName }}
  apiGroup: rbac.authorization.k8s.io
{{- end -}}