{{- if .Values.agent.worker.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "kubernetes-agent.scriptPodWorkerRoleName" . }}
  namespace: {{ $.Release.Namespace | quote }}
rules:
  - apiGroups:
      - '*'
    resources:
      - '*'
    verbs:
      - '*'
{{- end -}}

{{- $podServiceAccountName := include "kubernetes-agent.scriptPodServiceAccountName" . -}}
{{- $podServiceAccountFullName := include "kubernetes-agent.scriptPodServiceAccountFullName" . -}}
{{- $podRoleName := include "kubernetes-agent.scriptPodRoleName" . -}}
{{- $targetNamespaces := include "kubernetes-agent.targetNamespaces" . | fromJsonArray -}}

{{- if and .Values.scriptPods.serviceAccount.useNamespacedRoles (not (empty $targetNamespaces)) }}
{{- range $targetNamespace := $targetNamespaces }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ $podRoleName }}
  namespace: {{ $targetNamespace | quote }}
rules:
{{- if $.Values.scriptPods.serviceAccount.roleRules }}
{{ $.Values.scriptPods.serviceAccount.roleRules | toYaml | nindent 2 }}
{{- else }}
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - '*'
{{- end }}
{{- end }}
{{- end }}