{{- $podServiceAccountName := include "kubernetes-agent.scriptPodServiceAccountName" . -}}
{{- $podServiceAccountFullName := include "kubernetes-agent.scriptPodServiceAccountFullName" . -}}
{{- $podClusterRoleName := include "kubernetes-agent.scriptPodClusterRoleName" . -}}
{{- $podRoleName := include "kubernetes-agent.scriptPodRoleName" . -}}
{{- $podDeleterClusterRoleName := include "kubernetes-agent.scriptPodDeleterClusterRoleName" . -}}
{{- $targetNamespaces := include "kubernetes-agent.targetNamespaces" . -}}

{{- if .Values.agent.deploymentTarget.enabled }}
{{- range $targetNamespace := $targetNamespaces }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ printf "%s-binding" $podServiceAccountFullName }}
  namespace: {{ $targetNamespace | quote }}
subjects:
- kind: ServiceAccount
  name: {{ $podServiceAccountName }}
  namespace: {{ $.Release.Namespace | quote }}
roleRef:
  {{- if $.Values.scriptPods.serviceAccount.useNamespacedRoles }}
  kind: Role
  name: {{ $podRoleName }}
  {{- else }}
  kind: ClusterRole
  name: {{ $podClusterRoleName }}
  {{- end }}
  apiGroup: rbac.authorization.k8s.io
{{- end }}
{{- end -}}
{{- if and .Values.persistence.nfs.watchdog.enabled (not (include "kubernetes-agent.useCustomPvc" .)) }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ printf "%s-deleter-binding" $podServiceAccountFullName }}
  namespace: {{ .Release.Namespace | quote }}
subjects:
  - kind: ServiceAccount
    name: {{ $podServiceAccountName }}
    namespace: {{ $.Release.Namespace | quote }}
roleRef:
  kind: ClusterRole
  name: {{ $podDeleterClusterRoleName }}
  apiGroup: rbac.authorization.k8s.io
{{- end -}}