apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{printf "%s-tentacle" (include "kubernetes-agent.name" .) }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "kubernetes-agent.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "kubernetes-agent.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "kubernetes-agent.labels" . | nindent 8 }}
	      {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "kubernetes-agent.serviceAccountName" . }}
      containers:
        - name: {{printf "%s-tentacle" (include "kubernetes-agent.name" .) }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: "ACCEPT_EULA"
              value: {{ .Values.tentacle.ACCEPT_EULA | quote }}
            - name: "TargetName"
              value: {{ .Values.tentacle.targetName | quote }}
            - name: "ServerCommsAddress"
              value: {{ .Values.tentacle.serverCommsAddress | quote }}
            - name: "ServerUrl"
              value: {{ .Values.tentacle.serverUrl | quote }}
            - name: "Space"
              value: {{ .Values.tentacle.space | quote }}
            - name: "TargetEnvironment"
              value: {{ join "," .Values.tentacle.targetEnvironments | quote }}
            - name: "TargetRole"
              value: {{ join "," .Values.tentacle.targetRoles | quote }}
            - name: "DefaultNamespace"
              value: {{ .Values.tentacle.defaultNamespace | quote }}
            - name: "OCTOPUS__K8STENTACLE__NAMESPACE"
              value: {{ .Release.Namespace | quote }}
            - name: "OCTOPUS__K8STENTACLE__PODSERVICEACCOUNTNAME"
              value: {{ include "kubernetes-agent.podServiceAccountName" . | quote }}
            - name: "OCTOPUS__K8STENTACLE__PODVOLUMECLAIMNAME"
              value: {{ (include "kubernetes-agent.pvcName" .)  | quote}}
            - name: "OCTOPUS__K8STENTACLE__HELMRELEASENAME"
              value: {{ .Release.Name | quote}}
            - name: "OCTOPUS__K8STENTACLE__HELMCHARTVERSION"
              value: {{ .Chart.Version | quote}}
            - name: "OCTOPUS__K8STENTACLE__DISABLEAUTOPODCLEANUP"
              value: {{ .Values.tentacle.debug.disableAutoPodCleanup | quote }}
            {{- if and .Values.persistence.nfs.watchdog.enabled .Values.persistence.nfs.enabled}}
            - name: "OCTOPUS__K8STENTACLE__NFSWATCHDOGIMAGE"
              value: "{{ .Values.persistence.nfs.watchdog.image.repository }}:{{ .Values.persistence.nfs.watchdog.image.tag }}"
            {{- end }}
            - name: "OCTOPUS__TENTACLE__LOGLEVEL"
              value: {{ .Values.tentacle.logLevel }}
            - name: "TentacleHome"
              value: "/octopus"
            - name: "TentacleApplications"
              value: "/octopus/Applications"
            - name: "TentaclePollingConnectionCount"
              value: {{ .Values.tentacle.pollingConnectionCount | quote }}
            {{- if .Values.tentacle.serverApiKey }}
            - name: "ServerApiKey"
              valueFrom:
                secretKeyRef: 
                  name: {{ include "kubernetes-agent.secrets.serverAuth" . }}
                  key: api-key
            {{- end }}
            {{- if .Values.tentacle.bearerToken }}
            - name: "BearerToken"
              valueFrom:
                secretKeyRef: 
                  name: {{ include "kubernetes-agent.secrets.serverAuth" . }}
                  key: bearer-token
            {{- end }}
            {{- if .Values.tentacle.listeningPort }}
            - name: "ListeningPort"
              value: {{ .Values.tentacle.listeningPort | quote }}
            {{- end }}
            - name: "OCTOPUS__K8STENTACLE__PERSISTENTVOLUMESIZE"
              {{- if .Values.persistence.nfs.enabled }}
              value: {{ .Values.persistence.nfs.size | quote }}
              {{- else }}
              value: {{ .Values.persistence.claim.size | quote }}
              {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end}}
          volumeMounts:
            - mountPath: /octopus
              name: tentacle-home
        {{- if and .Values.persistence.nfs.watchdog.enabled .Values.persistence.nfs.enabled}}
        - name: nfs-watchdog
          image: "{{ .Values.persistence.nfs.watchdog.image.repository }}:{{ .Values.persistence.nfs.watchdog.image.tag }}"
          imagePullPolicy: {{ .Values.persistence.nfs.watchdog.image.pullPolicy }}
          env:
            - name: "watchdog_directory"
              value: "/octopus"
            {{ if .Values.persistence.nfs.watchdog.loop_seconds }}
            - name: "watchdog_loop_seconds"
              value: "{{ .Values.persistence.nfs.watchdog.loop_seconds }}"
            {{ end }}
            {{ if .Values.persistence.nfs.watchdog.initial_backoff_seconds }}
            - name: "watchdog_initial_backoff_seconds"
              value: "{{ .Values.persistence.nfs.watchdog.initial_backoff_seconds }}"
            {{ end }}
            {{ if .Values.persistence.nfs.watchdog.timeout_seconds }}
            - name: "watchdog_timeout_seconds"
              value: "{{ .Values.persistence.nfs.watchdog.timeout_seconds }}"
            {{ end }}
          volumeMounts:
            - mountPath: /octopus
              name: tentacle-home
        {{- end}}
      nodeSelector:
        kubernetes.io/os: "linux"
      volumes:
        - name: tentacle-home
          persistentVolumeClaim:
            claimName: {{ include "kubernetes-agent.pvcName" .}}
