{{- if (include "kubernetes-agent.useCustomPvc" .) }}
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ include "kubernetes-agent.pvcName" . }}
  labels:
    {{- include "kubernetes-agent.labels" . | nindent 4 }}
spec:
  accessModes:
    {{- .Values.persistence.accessModes | toYaml | nindent 4 }}
  {{- with .Values.persistence.storageClassName }}
  storageClassName: {{ . | quote }}
  {{- end }}
  {{- if .Values.persistence.volumeName }}
  volumeName: {{ .Values.persistence.volumeName | quote }}
  {{- else if (lookup "v1" "PersistentVolumeClaim" .Release.Namespace (include "kubernetes-agent.pvcName" .)) }}
  volumeName: {{ (lookup "v1" "PersistentVolumeClaim" .Release.Namespace (include "kubernetes-agent.pvcName" .)).spec.volumeName }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.persistence.size}}
{{- end }} 
