{{- if .Values.octopus.ingress.enabled }}
{{- $name := include "octopus.fullname" . -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $name }}
  labels:
    {{- include "labels" . | nindent 4 }}
    {{- if .Values.octopus.ingress.labels }}
    {{- toYaml .Values.octopus.ingress.labels | nindent 4 }}
    {{- end }}
  {{- with .Values.octopus.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
{{- if .Values.octopus.ingress.tls }}
  tls:
{{- range .Values.octopus.ingress.tls }}
    - hosts:
{{- range .hosts }}
        - {{ . | quote }}
{{- end }}
      secretName: {{ .secretName }}
{{- end }}
{{- end }}
  {{- if .Values.octopus.ingress.className }}
  ingressClassName: {{ .Values.octopus.ingress.className | quote }}
  {{- end }}
  rules:
{{- if .Values.octopus.ingress.enabled }}
{{- $path := .Values.octopus.ingress.path -}}
{{- $port := .Values.octopus.webPort -}}
{{- range .Values.octopus.ingress.hosts }}
    - host: {{ . }}
      http:
        paths:
          - path: {{ $path }}
            pathType: Prefix
            backend:
              service:
                name: {{ $name }}
                port:
                  number: {{ $port }}
{{- end }}
{{- end }}
{{- end }}
{{- if .Values.octopus.ingress.pollingTentacles.enabled }}
{{- range untilStep 0 (.Values.octopus.replicaCount | int) 1 }}
{{ $replica := . -}}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: octopus-deploy-polling-node{{ . }}
  labels:
    {{- include "labels" $ | nindent 4 }}
    {{- if $.Values.octopus.ingress.pollingTentacles.labels }}
    {{- toYaml $.Values.octopus.ingress.pollingTentacles.labels | nindent 4 }}
    {{- end }}
  annotations:
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    {{- if $.Values.octopus.ingress.pollingTentacles.annotations }}
    {{- toYaml $.Values.octopus.ingress.pollingTentacles.annotations | nindent 4 }}
    {{- end }}
spec:
  tls:
    - hosts:
      {{- range $.Values.octopus.ingress.hosts }}
      - {{ printf "%s%d.%s" $.Values.octopus.ingress.pollingTentacles.hostPrefix $replica . | quote }}
      {{- end }}
  {{- if $.Values.octopus.ingress.className }}
  ingressClassName: {{ $.Values.octopus.ingress.className | quote }}
  {{- end }}
  rules:
{{- $port := $.Values.octopus.tentaclePort -}}
{{- range $.Values.octopus.ingress.hosts }}
    - host: {{ printf "%s%d.%s" $.Values.octopus.ingress.pollingTentacles.hostPrefix $replica . | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                {{- if (eq ($.Values.octopus.replicaCount | int) 1)}} # If there is only one node, point at main service
                name: {{ template "octopus.fullname" $ }}
                {{- else }}
                name: octopus-deploy-node{{ $replica }}
                {{- end }}
                port:
                  number: {{ $port }}
{{- end }}
{{- end }}
{{- end }}

{{- if .Values.octopus.ingress.grpc.enabled }}
{{ $name := include "octopus.fullname" . -}}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $name }}-grpc
  labels:
    {{- include "labels" . | nindent 4 }}
    {{- if .Values.octopus.ingress.grpc.labels }}
    {{- toYaml .Values.octopus.ingress.grpc.labels | nindent 4 }}
    {{- end }}
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "GRPCS"
    {{- if .Values.octopus.ingress.grpc.annotations }}
    {{- toYaml .Values.octopus.ingress.grpc.annotations | nindent 4 }}
    {{- end }}
spec:
{{- if .Values.octopus.ingress.grpc.tls.enabled }}
  tls:
    - hosts:
        - {{ printf "%s.%s" $.Values.octopus.ingress.grpc.hostPrefix (index $.Values.octopus.ingress.hosts 0) | quote }}
      secretName: {{ required "When configuring gRPC with TLS, a secret is required for the TLS" .secretName }}
{{- end }}
  {{- if .Values.octopus.ingress.className }}
  ingressClassName: {{ .Values.octopus.ingress.className | quote }}
  {{- end }}
  rules:
{{- $port := .Values.octopus.grpcPort -}}
{{- range .Values.octopus.ingress.hosts }}
    - host: {{ printf "%s.%s" $.Values.octopus.ingress.grpc.hostPrefix . | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ $name }}
                port:
                  number: {{ $port }}
{{- end }}
{{- end }}