kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: package-repository-claim
  labels:
    {{- include "labels" . | nindent 4 }}
spec:
  accessModes:
    {{- if (gt (.Values.octopus.replicaCount | int) 1)}}
    - ReadWriteMany
    {{- else }}
    - {{.Values.octopus.packageRepositoryVolume.storageAccessMode}}
    {{- end }}
  {{- if $storageClass := (default .Values.global.storageClass .Values.octopus.packageRepositoryVolume.storageClassName) }}
  storageClassName: {{ $storageClass }}
  {{- end }}
  resources:
    requests:
      storage: {{.Values.octopus.packageRepositoryVolume.size}}
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: artifacts-claim
  labels:
    {{- include "labels" . | nindent 4 }}
spec:
  accessModes:
    {{- if (gt (.Values.octopus.replicaCount | int) 1)}}
    - ReadWriteMany
    {{- else }}
    - {{.Values.octopus.artifactVolume.storageAccessMode}}
    {{- end }}
  {{- if $storageClass := (default .Values.global.storageClass .Values.octopus.artifactVolume.storageClassName) }}
  storageClassName: {{ $storageClass }}
  {{- end }}
  resources:
    requests:
      storage: {{.Values.octopus.artifactVolume.size}}
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: task-log-claim
  labels:
    {{- include "labels" . | nindent 4 }}
spec:
  accessModes:
    {{- if (gt (.Values.octopus.replicaCount | int) 1)}}
    - ReadWriteMany
    {{- else }}
    - {{.Values.octopus.taskLogVolume.storageAccessMode}}
      {{- end }}
  {{- if $storageClass := (default .Values.global.storageClass .Values.octopus.taskLogVolume.storageClassName) }}
  storageClassName: {{ $storageClass }}
  {{- end }}
  resources:
    requests:
      storage: {{.Values.octopus.taskLogVolume.size}}
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: audit-log-claim
  labels:
    {{- include "labels" . | nindent 4 }}
spec:
  accessModes:
    {{- if (gt (.Values.octopus.replicaCount | int) 1)}}
    - ReadWriteMany
    {{- else }}
    - {{.Values.octopus.taskLogVolume.storageAccessMode}}
    {{- end }}
  {{- if $storageClass := (default .Values.global.storageClass .Values.octopus.taskLogVolume.storageClassName) }}
  storageClassName: {{ $storageClass }}
  {{- end }}
  resources:
    requests:
      storage: {{.Values.octopus.taskLogVolume.size}}