name: Version Kubernetes Agent chart

on:
  push:
    branches:
    - main
    paths:
    - charts/kubernetes-agent/**
    - .github/workflows/create-versioning-pr.yaml
    
jobs:
  version:
    runs-on: ubuntu-latest

    # For all pushes that aren't creating a versioning commit
    if: ${{ !startsWith(github.event.commits[0].message, 'Version Kubernetes Agent Chart') }}
    steps:
    - uses: actions/checkout@v4
    
    - name: setup-node
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Cache .pnpm-store
      uses: actions/cache@v3.2.3
      with:
        path: ~/.pnpm-store
        key: ${{ runner.os }}-node${{ matrix.node-version }}-${{ hashFiles('**/pnpm-lock.yaml') }}

    - uses: pnpm/action-setup@v2.2.4
      with:
        version: 8.15.2
        run_install: true

    - name: Install YQ
      uses: dcarbone/install-yq-action@v1.1.1

    - name: Create Release Pull Request
      id: changesets
      uses: changesets/action@v1
      with:
        commit: 'Version Kubernetes Agent Chart'
        title: 'Version Kubernetes Agent Chart'
        createGitHubReleases: false
      env:
        GITHUB_TOKEN: ${{ secrets.CHANGESETS_GITHUB_TOKEN }}

    - name: 'Update version and commit Chart.yaml'
      run: |
        version=$(jq -r .version charts/kubernetes-agent/package.json)
        version="$version" yq -i '.version = strenv(version)' charts/kubernetes-agent/Chart.yaml
        pnpm i --lockfile-only
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config user.name "github-actions[bot]"
        git add charts/kubernetes-agent/Chart.yaml
        git add pnpm-lock.yaml
        git add charts/kubernetes-agent/tests/__snapshot__/*
        git commit -m "Update chart version in charts/kubernetes-agent/Chart.yaml and pnpm-lock.yaml"
        cd charts/kubernetes-agent
        pnpm update-test-snapshots
        cd ../..
        git add charts/kubernetes-agent/tests/__snapshot__/*
        git commit -m "Update chart version in Kubernetes agent test snapshots"
        git push --set-upstream origin changeset-release/main
      if: steps.changesets.outputs.hasChangesets == 'true'



