name: Run helm tests on Octopus chart 

on:
  push:
    paths:
    - charts/octopus-deploy/**
    - .github/workflows/octopus-tests.yaml

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Helm
      uses: azure/setup-helm@v4.3.0
      with:
        version: v3.14.3
    - name: Run Helm unit tests
      run: |
        helm plugin install https://github.com/helm-unittest/helm-unittest
        helm unittest charts/octopus-deploy