name: Run helm tests on Octopus chart 

on:
  push:
    paths:
    - charts/octopus-deploy/**
    - .github/workflows/octopus-tests.yaml

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Helm
      uses: azure/setup-helm@v3
      with:
        version: v3.13.2
    - name: Run Helm unit tests
      run: |
        helm plugin install https://github.com/quintush/helm-unittest
        helm unittest charts/octopus-deploy
