name: Publish Octopus Deploy Chart

on:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
          
      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: 'v3.15.3'
          
      - name: Login to GitHub container registry
        run: echo ${{ secrets.GITHUB_TOKEN }} | helm registry login ghcr.io -u  ${{github.actor}} --password-stdin
          
      - name: Package Chart
        run: helm package --version '0.1.0' 'charts/octopus-deploy'
        
      - name: Push Chart
        run: helm push 'octopusdeploy-helm-${{ inputs.octopus-version }}.tgz' oci://ghcr.io/octopusdeploy/octopusdeploy-helm
        
     
